body {
    background-color: white;
    min-height: 100vh;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.is-sparta {
    color: white;
}

.button.is-sparta {
    background-color: #e8344e;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #e8344e;
    color: #e8344e !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #e8344e;
    color: #e8344e !important;
}

.modal-content {
    width: 600px;
    max-width: 80%;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.title {
    font-weight: 800;
    font-size: 5rem;
    font-family: 'Stylish', sans-serif;
}

.subtitle {
    font-family: 'Gamja Flower', cursive;
    font-size: 2rem;

}

.help {
    color: gray;
}

.card {
    width: 500px;
    height: 600px;
    margin: 10px 10px 10px 10px;
}

.card-img-top {
    height: 300px;
}

.card-title {
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;

}

.card-price {
    font-size: 20px;
    color: gray;
}

.card-comment {
    height: 100px;
    font-size: 20px;
    color: blue;
}