.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color: #6464a0;}

input:read-only {
  background-color: #ccc;
}

#detail_star{
    cursor : default;
}

.container{
    max-width: 480px;
    margin:auto
}
.course{
    height: 20px;
}
.section {
    padding: 20px 1rem 1.5rem;
    max-width: 400px;
    margin: auto;
}
.is-sparta {
    color: white !important;
}