.star_rating {
    font-size:20px;
    letter-spacing:-4px;
}
.star_rating a {
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color: #facf24;}

input:read-only {
  background-color: #ccc;
}

#detail_star{
    cursor : default;
}

.container{
    max-width: 480px;
    margin:auto
}
.course{
    height: 20px;
}
.is-sparta {
    color: white !important;
}
.button-area{
    margin-top: 30px;
    margin-bottom: 20px;
    float: right;
}

.detail-field{
    cursor : default !important;
}
#url-info{
    font-size: 13px;
    color: #6e6c6c;
}
.box-label{
    font-size:18px;
}
.url-info-btn{
    text-align: right;
}
.review-content{
    margin-bottom: 20px;
}