<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>캠핑 쀼 | 회원가입</title>

    <style>
        .err_css{
            color: red;
            font-size: 15px;
        }

        .join-group {
            width: 500px;
            margin-top: 20px;
        }

        .container {
            padding-left: 50px;
        }

        .wrap{
            width: 600px;
            margin: auto;
        }
    </style>
    <script>
        function register(){

            $.ajax({
            type: "POST",
            url: "/register/save",
            data: {
                id: $('#user_id').val(),
                password: $('#user_pw').val(),
                nick: $('#user_nick').val()
            },
            success: function (response) {
                if (response['result'] == 'success') {
                    alert('회원가입이 완료되었습니다.')
                    window.location.reload()
                } else {
                    alert(response['msg'])
                }
            }
        })

        }

        // function err_msg(){
        //     let id = $('#user_id').val();
        //
        //     $.ajax({
        //     type: "POST",
        //     url: "/register/idcheck",
        //     data: {
        //         id: id
        //     },
        //     success: function (response) {
        //         if(response['exists'] == 'true'){
        //             $('#err_txt').val('아이디가 중복됩니다');
        //         }else{
        //             $('#err_txt').text('사용가능한 아이디입니다');
        //             console.log($('#err_txt').val())
        //         }
        //     }
        // })
        // }

    </script>
</head>
<body>
<div class="wrap">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">회원가입</h1>
            <div class="join-group">
                <div class="join-row">
                    <label for="user_id">8~10자리, 숫자 + 영문 대소문자 조합</label>
                    <input type="text" class="form-control" id="user_id" placeholder="아이디 입력">
                    <span class="err_css"></span><br>
                </div>
                <div class="join-row">
                    <label for="user_pw">8~16자, 숫자 + 영문 대소문자 + 특수문자 조합</label>
                    <input type="password" class="form-control" id="user_pw" placeholder="비밀번호 입력">
                    <span class="err_css"></span><br>
                </div>
                <div class="join-row">
                    <label for="exampleInputPassword1">비밀번호 확인</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="비밀번호 다시 입력">
                    <span class="err_css"></span><br>
                </div>
                <div class="join-row">
                    <label for="user_nick">2자리 이상, 숫자 + 영문 대소문자 조합</label>
                    <input type="email" class="form-control" id="user_nick" placeholder="닉네임 입력">
                    <span class="err_css"></span><br>
                </div>
                <button onclick="register()" type="submit" class="btn btn-primary">회원가입</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>